<div class="card">
  <div class="card-header">
    Filtrar por categoria
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <select class="form-control" (change)="filtrarCategoria($event) ">
          <option value="" selected>Elige categoria</option>
          <option  [value]="categoria" *ngFor="let categoria of arrCategorias ">{{categoria}}</option>
      </select>

      <button class="btn btn-dark btn-sm mt-3" [routerLink]="['/new']">Añadir un nuevo post</button>

    </blockquote>
  </div>
</div>
