<section class="container m-4">
  
  <div class=" g-4">
    <div class="col">
      <div class="card">
        <img [src]="miPost.imagen" class="card-img-top" [alt]="miPost.titulo">
        <div class="card-body">
          <h5 class="card-title">{{miPost.titulo}}</h5>
          <p class="card-text">{{miPost.texto}}</p>
          <p class="card-text">Autor: {{miPost.autor}}</p>
          <p class="card-text">Fecha: {{miPost.fecha}}</p>
          <p class="card-text">Categoria: "{{miPost.categoria}}"</p>
  
        </div>
      </div>
    </div>
    </div>
</section>
 